<div class="nav-item {{modifiers}}">
   <div class="nav-item__icon">
      {{icon}}
   </div>
   <div class="nav-item__title">
      <a href="{{href}}"> {{ value }} </a>
      {{ title }}
   </div>
</div>
