 <div class="grid-webiste-template-lb">
    
    <navbar>
        {{navbar}}
    </navbar>

    <main class="portfolio">
        <div class="portfolio-item__big">
            {{port1}}
        </div>
        <div class="portfolio-item__big">
            {{textSlide}}
        </div>
        <div>
            {{port2}}
        </div>
        <div>
            {{port3}}
        </div>
        <div class="portfolio-item__big">
            {{port4}}
        </div>
        <div>
            {{port5}}
        </div>
        <div>
            {{port6}}
        </div>
    </main>
    
    <div>
        {{sideContent}}
    </div>
    
    <footer>
        {{footer}}
    </footer>

</div>